

header h1 {
    text-align: center;
    color: rgb(48 26 48);
    font-size: 40px;
}

p {
    font-size: 18px;
    font-family: arial;

}

nav {
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-self: right;
    margin: 21px 40px;
}

nav a {
    font-family: arial;
    text-decoration: none;
    color: rgb(179, 25, 41);
    font-size: 18px;
}

main {
    display: grid;
    justify-self: center;
    max-width: 900px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.divider {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 2px;
    background-color: rgb(229, 175, 108);
    border: none;
    margin-top: 60px;
}

.book-details {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: right;
    justify-items: right;
    margin-right: 40px;
}

.date {
    font-style: italic;
}

.book-display {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-left: 40px;
}

.book-display h1 {
    font-size: 30px;
    color: rgb(179, 25, 41);
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(229, 175, 108);
    margin: 0;
}

footer {
    text-align: center;
    font-size: 18px;
    font-family: arial;
    margin: 21px;
}

@media screen and (min-width: 768px) {

main {
    margin: 60px;
}

.divider {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 2px;
    height: 100%;
    background-color: rgb(229, 175, 108);
    border: none;
    margin: 0px;
}

.book-details {
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: right;
    justify-items: right;
    margin-left: 40px;
}

.book-display {
    grid-column: 2/4;
    grid-row: 1/4;
    margin-right: 40px;
}

}
