*{
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(204,204,204);
    text-align: center;
}

header {
    background-color: rgb(69,127,219);
    padding-bottom: 10px;
}

header h1 {
    font-size: 35px;
    color: white;
    padding: 20px;
}

.menu-btn {
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.menu-btn:hover {
    text-decoration: none;
    color: rgb(30, 55, 96);
}

nav a {
    font-size: 15px;
    color: white;
    margin-inline: 10px;
}

nav a:hover {
    text-decoration: none;
    color: rgb(30, 55, 96);
}

main {
    margin: 20px;
}

main h1 {
    font-size: 25px;
}

#gallery {
    margin-top: 20px;
}

footer {
    background-color: rgb(69,127,219);
    color: white;
    padding: 10px;
}

@media screen and (min-width: 700px) {
    .menu-btn {
        display: none;
    }

    nav a {
    }

}

@media screen and (min-width: 1024px) {
}