header h1 {
    text-align: center;
    color: rgb(48 26 48);
    font-size: 40px;
}

p {
    font-size: 18px;
    font-family: arial;
}

nav {
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-self: right;
    margin: 21px 40px;
}

nav a {
    font-family: arial;
    text-decoration: none;
    color: rgb(179, 25, 41);
    font-size: 18px;
}

main {
    display: block;
}

.book-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 900px;
    margin: 60px auto;
}

.divider {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background-color: rgb(229, 175, 108);
    border: none;
}

#book-details {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 40px;
    justify-self: right;
    text-align: right;
}

.date {
    font-style: italic;
}

#book-display {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 40px;
    margin-right: 40px;
}

#book-display h1 {
    font-size: 30px;
    color: rgb(179, 25, 41);
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(229, 175, 108);
    margin: 0;
}

footer {
    text-align: center;
    font-size: 18px;
    font-family: arial;
    margin: 21px;
}

@media screen and (min-width: 768px) {
    .book-grid {
        grid-template-columns: 200px 2px auto;
        grid-template-rows: auto;
        column-gap: 20px;
    }

    .divider {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 2px;
        height: 100%;
    }

    #book-details {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 40px;
        margin-right: 0;
        justify-self: right;
    }

    #book-display {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-right: 40px;
        margin-left: 0;
    }
}