form {
    width: 50%;
    margin: 0 auto;
}

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 80px;
    height: 35px;
    background-color: rgb(238, 238, 238);
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    grid-column: 1/4;
    grid-row: 4;
    margin-top: 15px;
    justify-self: right;
  }

  .errors {
    white-space: pre-line;
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }

.form-grid {
    justify-self: center;
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    grid-template-rows:  50px 194px 50px 50px;
}
.card-front-grid {
    width: 350px;
    height: 204px;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    z-index: 1;
    border-radius: 12px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.50);
    grid-column: 1/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 66px 1fr 1fr;
    column-gap: 20px;
}

#total {
    grid-column: 1/2;
    grid-row: 1;
}

#card-emoji {
    margin: 0;
    font-size: 40px;
    justify-self: right;
    grid-column: 2/3;
    grid-row: 1;
}

#creditCardNumberContainer {
    grid-column: 1/2;
    grid-row: 2;
}

#holder {
    grid-column: 1/2;
    grid-row: 3;
}

#cardExpiration{
    grid-column: 2/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}

#expiration {
    grid-column: 1/3;
}

#month {
    grid-column: 1/2;
}

#year {
    grid-column: 2/3;
}

.card-back-grid {
    width: 390px;
    height: 244px;
    background-color: rgb(211, 211, 211);
    z-index: 0;
    border-radius: 12px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.50);
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 110px;
    grid-template-rows: 60px 1fr 50px;
}

#black-bar {
    background-color: black;
    height: 40px;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 20px;
}

#cardCVV {
    width: 71px;
    justify-self: right;
    margin-right: 20px;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}

#cvv {
    width: 63px;
    height: 39px;
    margin: 0px;
}