form {
  width: 50%;
  margin: 0 auto;
}

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Add a border to make it visually consistent */
    border-radius: 4px;
  }

  button {
    width: 80px;
    height: 35px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    grid-row: 3;
  }

  .errors {
    white-space: pre-line; /*needed for 2 errors to be on separate lines*/
    color: red;
    text-align: center;
  }

.form-grid {
    width: 390px;
    height: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 200px;
}
.card-front-grid {
    width: 350px;
    height: 204px;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    border-radius: 12px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 66px 1fr 1fr;
    column-gap: 20px;
}


#total {
    grid-column: 1/2;
    grid-row: 1;
}

#card-emoji {
    margin: 0;
    font-size: 40px;
    justify-self: right;
    grid-column: 2/3;
    grid-row: 1;
}

#creditCardNumberContainer {
    grid-column: 1/2;
    grid-row: 2;
}

#holder {
    grid-column: 1/2;
    grid-row: 3;
}


#cardExpiration{
    grid-column: 2/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}

#expiration {
    grid-column: 1/3;
}

#month {
    grid-column: 1/2;
}

#year {
    grid-column: 2/3;
}

.card-back-grid {
    width: 350px;
    height: 204px;
    padding: 20px;
    background-color: rgb(255, 0, 81);
    z-index: -1;
    border-radius: 12px;
    display: grid;
}