*{
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(204,204,204);
    text-align: center;
}

header {
    background-color: rgb(69,127,219);
    padding-bottom: 10px;
    min-height: 115px;
    height: 100%;
}

header h1 {
    font-size: 35px;
    color: white;
    padding: 20px;
}

.menu-btn {
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.menu-btn:hover {
    text-decoration: none;
    color: rgb(30, 55, 96);
}

nav {
    display: none;
}

nav.show {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin: 15px;
}

nav a {
    font-size: 15px;
    color: white;
    margin-inline: 10px;
}

nav a:hover {
    text-decoration: none;
    color: rgb(30, 55, 96);
}

main {
    margin-top: 20px;
    justify-self: center;
}

main h1 {
    font-size: 25px;
}

#gallery {
    margin-top: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid white 5px;
    box-shadow: 10px 10px 20px black;
}

footer {
    background-color: rgb(69,127,219);
    color: white;
    padding: 10px;
    margin-top: 40px;
}



@media screen and (min-width: 768px) {
    #gallery {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }
}

@media screen and (min-width: 1100px) {
    .menu-btn {
        display: none;
    }

    nav {
        display: block;
    }

    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}