#content {
    width: 480px;
    margin: 50px auto;
    padding: 40px 120px 40px 120px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    letter-spacing: 3px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: 12px;
    margin-top: -10px;
    font-weight: 200;
    color: rgb(55, 115, 181);
}

hr {
    width: 100%;
    height: 1px;
    background: rgb(214, 214, 214);
    border: none;
    margin-top: -8px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

#list {
    margin-top: -1em;
}

#list p {
    font-style: italic;
}

li {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    margin-top: 20px;
    width: 100px;
}

